# templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-dev-environment
  labels:
    app: node-dev-environment
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: node-dev-environment
  template:
    metadata:
      labels:
        app: node-dev-environment
    spec:
      containers:
        - name: node-container
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"  # Node.js image
          resources:
            requests:
              memory: "{{ .Values.resources.requests.memory }}"
              cpu: "{{ .Values.resources.requests.cpu }}"
            limits:
              memory: "{{ .Values.resources.limits.memory }}"
              cpu: "{{ .Values.resources.limits.cpu }}"
          ports:
            - containerPort: 3000  # Node.js default port
          command:
            - "/bin/sh"
            - "-c"
            - |
              # Install dependencies
              npm install $(echo $PACKAGES | tr ',' ' ')
              # Start the Node.js app
              npm start
